/*             
                UNIVERSIDAD DOMINICANA O & M
	            SECCION 0541 - ING. INDUSTRIAL
	               MATERIA BASE DE DATOS
	
	MATRICULA		     NOMBRE COMPLETO
	-----------------------------------------------------
	16-SIIN-1-048        HALKIS GOMEZ 
	16-SIIN-1-060	   JAILENE RODRIGUEZ
	16-SIIT-1-037	     VILEYSIS FELIX


*/
USE [master]
GO
/****** Object:  Database [HJV02]    Script Date: 4/6/2018 1:05:58 AM ******/
CREATE DATABASE [HJV02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HJV02', FILENAME = N'C:\Practica\HJV02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HJV02_log', FILENAME = N'C:\Practica\HJV02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HJV02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HJV02]
GO
USE [HJV02]
GO
/****** Object:  Table [dbo].[ASIGNACIONES]    Script Date: 4/6/2018 1:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACIONES](
	[CODASIGNACION] [int] NOT NULL,
	[CODDPTO] [tinyint] NOT NULL,
	[CODEMPLEADO] [int] NOT NULL,
	[SUELDO] [numeric](7, 2) NOT NULL,
 CONSTRAINT [PK_ASIGNACIONES] PRIMARY KEY CLUSTERED 
(
	[CODASIGNACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 4/6/2018 1:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[CODDPTO] [tinyint] NOT NULL,
	[DEPARTAMENTO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENTOS] PRIMARY KEY CLUSTERED 
(
	[CODDPTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 4/6/2018 1:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[CODEMPLEADO] [int] NOT NULL,
	[NOMBRES] [varchar](20) NOT NULL,
	[APELLIDOS] [varchar](20) NOT NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[CODEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ASIGNACIONES] ([CODASIGNACION], [CODDPTO], [CODEMPLEADO], [SUELDO]) VALUES (1, 1, 1, CAST(99000.83 AS Numeric(7, 2)))
GO
INSERT [dbo].[ASIGNACIONES] ([CODASIGNACION], [CODDPTO], [CODEMPLEADO], [SUELDO]) VALUES (2, 2, 2, CAST(40000.10 AS Numeric(7, 2)))
GO
INSERT [dbo].[ASIGNACIONES] ([CODASIGNACION], [CODDPTO], [CODEMPLEADO], [SUELDO]) VALUES (3, 3, 3, CAST(12000.52 AS Numeric(7, 2)))
GO
INSERT [dbo].[DEPARTAMENTOS] ([CODDPTO], [DEPARTAMENTO]) VALUES (1, N'ADMINISTRACION')
GO
INSERT [dbo].[DEPARTAMENTOS] ([CODDPTO], [DEPARTAMENTO]) VALUES (2, N'TESORERIA')
GO
INSERT [dbo].[DEPARTAMENTOS] ([CODDPTO], [DEPARTAMENTO]) VALUES (3, N'CONTABILIDAD')
GO
INSERT [dbo].[EMPLEADOS] ([CODEMPLEADO], [NOMBRES], [APELLIDOS]) VALUES (1, N'HALKIS', N'GOMEZ')
GO
INSERT [dbo].[EMPLEADOS] ([CODEMPLEADO], [NOMBRES], [APELLIDOS]) VALUES (2, N'JAILENE', N'RODRIGUEZ')
GO
INSERT [dbo].[EMPLEADOS] ([CODEMPLEADO], [NOMBRES], [APELLIDOS]) VALUES (3, N'VILEYSIS', N'FELIX')
GO
ALTER TABLE [dbo].[ASIGNACIONES]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACIONES_DEPARTAMENTOS] FOREIGN KEY([CODDPTO])
REFERENCES [dbo].[DEPARTAMENTOS] ([CODDPTO])
GO
ALTER TABLE [dbo].[ASIGNACIONES] CHECK CONSTRAINT [FK_ASIGNACIONES_DEPARTAMENTOS]
GO
ALTER TABLE [dbo].[ASIGNACIONES]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACIONES_EMPLEADOS] FOREIGN KEY([CODEMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([CODEMPLEADO])
GO
ALTER TABLE [dbo].[ASIGNACIONES] CHECK CONSTRAINT [FK_ASIGNACIONES_EMPLEADOS]
GO
USE [master]
GO

use HJV02
go

SELECT A.CODASIGNACION, E.CODEMPLEADO,E.NOMBRES, E.APELLIDOS, A.SUELDO, D.DEPARTAMENTO
FROM ASIGNACIONES A
INNER JOIN EMPLEADOS E ON A.CODEMPLEADO=E.CODEMPLEADO
INNER JOIN DEPARTAMENTOS D ON A.CODDPTO=D.CODDPTO
