/*             
                UNIVERSIDAD DOMINICANA O & M
	            SECCION 0541 - ING. INDUSTRIAL
	               MATERIA BASE DE DATOS
	
	MATRICULA		     NOMBRE COMPLETO
	-----------------------------------------------------
	16-SIIN-1-048        HALKIS GOMEZ 
	16-SIIN-1-060	   JAILENE RODRIGUEZ
	16-SIIT-1-037	     VILEYSIS FELIX


*/
USE [master]
GO
/****** Object:  Database [HJV03]    Script Date: 4/6/2018 9:44:02 PM ******/
CREATE DATABASE [HJV03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HJV03', FILENAME = N'C:\Practica\HJV03.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HJV03_log', FILENAME = N'C:\Practica\HJV03_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HJV03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HJV03]
GO
USE [HJV03]
GO
/****** Object:  Table [dbo].[MEDICAMENTOS]    Script Date: 4/6/2018 9:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTOS](
	[CODMEDICAMENTO] [tinyint] NOT NULL,
	[NOMBRE_MEDICAMENTO] [varchar](20) NOT NULL,
	[CANTIDAD] [tinyint] NOT NULL,
	[UTILIDAD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_MEDICAMENTOS] PRIMARY KEY CLUSTERED 
(
	[CODMEDICAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICOS]    Script Date: 4/6/2018 9:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICOS](
	[CODMEDICO] [tinyint] NOT NULL,
	[NOMBRE_MEDICO] [varchar](20) NOT NULL,
	[APELLIDO] [varchar](20) NOT NULL,
	[ESPECIALIDAD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_MEDICOS] PRIMARY KEY CLUSTERED 
(
	[CODMEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 4/6/2018 9:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[CODPACIENTE] [tinyint] NOT NULL,
	[CODMEDICO] [tinyint] NOT NULL,
	[CODMEDICAMENTO] [tinyint] NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
	[APELLIDO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PACIENTES] PRIMARY KEY CLUSTERED 
(
	[CODPACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MEDICAMENTOS] ([CODMEDICAMENTO], [NOMBRE_MEDICAMENTO], [CANTIDAD], [UTILIDAD]) VALUES (1, N'NEUMELUBRINA', 1, N'FRIEBRE')
GO
INSERT [dbo].[MEDICAMENTOS] ([CODMEDICAMENTO], [NOMBRE_MEDICAMENTO], [CANTIDAD], [UTILIDAD]) VALUES (2, N'POSTAN', 2, N'CALMANTE')
GO
INSERT [dbo].[MEDICAMENTOS] ([CODMEDICAMENTO], [NOMBRE_MEDICAMENTO], [CANTIDAD], [UTILIDAD]) VALUES (3, N'WINASOR', 4, N'ANTIGRIPAL')
GO
INSERT [dbo].[MEDICOS] ([CODMEDICO], [NOMBRE_MEDICO], [APELLIDO], [ESPECIALIDAD]) VALUES (1, N'MARIA', N'VALDEZ', N'CARDIOLOGO')
GO
INSERT [dbo].[MEDICOS] ([CODMEDICO], [NOMBRE_MEDICO], [APELLIDO], [ESPECIALIDAD]) VALUES (2, N'JUAN', N'TOMAS', N'ORTOPEDA')
GO
INSERT [dbo].[MEDICOS] ([CODMEDICO], [NOMBRE_MEDICO], [APELLIDO], [ESPECIALIDAD]) VALUES (3, N'NATHALY', N'MATOS', N'MEDICO GENERAL')
GO
INSERT [dbo].[PACIENTES] ([CODPACIENTE], [CODMEDICO], [CODMEDICAMENTO], [NOMBRE], [APELLIDO]) VALUES (1, 10, 5, N'MARIA', N'PEREIRA')
GO
INSERT [dbo].[PACIENTES] ([CODPACIENTE], [CODMEDICO], [CODMEDICAMENTO], [NOMBRE], [APELLIDO]) VALUES (2, 9, 4, N'MARCOS', N'REYES')
GO
INSERT [dbo].[PACIENTES] ([CODPACIENTE], [CODMEDICO], [CODMEDICAMENTO], [NOMBRE], [APELLIDO]) VALUES (3, 8, 3, N'MILAGROS', N'GERMAN')
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTES_MEDICAMENTOS] FOREIGN KEY([CODMEDICAMENTO])
REFERENCES [dbo].[MEDICAMENTOS] ([CODMEDICAMENTO])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_PACIENTES_MEDICAMENTOS]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTES_MEDICOS] FOREIGN KEY([CODMEDICO])
REFERENCES [dbo].[MEDICOS] ([CODMEDICO])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_PACIENTES_MEDICOS]
GO
USE [master]
GO

use HJV03
go
SELECT	pac.NOMBRE,pac.APELLIDO, med.CODMEDICO,med.NOMBRE_Medico, med.APELLIDO, med.ESPECIALIDAD,mex.NOMBRE_MEDICAMENTO ,mex.CANTIDAD, mex.UTILIDAD
FROM PACIENTES Pac
INNER JOIN	MEDICOS Med ON	pac.CODMEDICO=med.CODMEDICO
INNER JOIN MEDICAMENTOS MeX	ON pac.CODMEDICAMENTO=mex.CODMEDICAMENTO


